/* === Style the products' custom post-types. === */

/* Expand the header from edge to edge. */
.page-template-books.books-header-page .site.hfeed,
.page-template-videos.videos-header-page .site.hfeed,
.page-template-podcasts.podcasts-header-page .site.hfeed,
.page-template-blogs.blogs-header-page .site.hfeed {
  max-width: 100%;
}

/* Make the submenu's background black. */
body.page-template-books #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
body.page-template-videos #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
body.page-template-podcasts #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
body.page-template-blogs #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul {
  background-color: black;
}

/* Make the search icon background transparent and the icon white. */
body.page-template-books #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .res-search-icon > div,
body.page-template-videos #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .res-search-icon > div,
body.page-template-podcasts #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .res-search-icon > div,
body.page-template-blogs #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .res-search-icon > div {
  background-color: transparent;
  color: white;
}

/* Style the nav's submenu links on the product's main page. */
body .site.hfeed header#masthead .responsive-site-header-wrap .site-header-inner-wrap .site-header-upper-wrap .site-header-upper-inner-wrap .responsive-site-primary-header-wrap .site-primary-header-inner-wrap .site-header-primary-section-right .site-header-item .main-navigation .main-navigation-wrapper ul.nav-menu li.menu-item a {
  transition: all 0.3s ease-in-out;
}
body .site.hfeed header#masthead .responsive-site-header-wrap .site-header-inner-wrap .site-header-upper-wrap .site-header-upper-inner-wrap .responsive-site-primary-header-wrap .site-primary-header-inner-wrap .site-header-primary-section-right .site-header-item .main-navigation .main-navigation-wrapper ul.nav-menu li.menu-item ul.sub-menu li.menu-item a {
  size: 1rem;
  transition: all 0.3s ease-in-out;
}
body.page-template-books #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .responsive-header-search-link .res-search-icon .responsive-header-search-icon-wrap .responsive-header-search-icon svg,
body.page-template-videos #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .responsive-header-search-link .res-search-icon .responsive-header-search-icon-wrap .responsive-header-search-icon svg,
body.page-template-podcasts #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .responsive-header-search-link .res-search-icon .responsive-header-search-icon-wrap .responsive-header-search-icon svg,
body.page-template-blogs #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .responsive-header-search-link .res-search-icon .responsive-header-search-icon-wrap .responsive-header-search-icon svg {
  transition: all 0.3s ease-in-out;
}

/* Hide the banner text on the products' main pages on mobile. */
.products-page__header-text-container {
  display: none;
}

/* === Style the product's main page's featured-products section. === */
/* Format in a column for mobile. */
#page .page_featured-list .wp-block-columns {
  flex-direction: column;
}
/* Adjust margins and alignment. */
#page .page_featured-list {
  margin-top: 0rem;
  margin-bottom: 3rem;
  align-items: center;
}
/* Style the featured books' heading.*/
.page_featured-list h2 {
  font-size: 2rem;
}
.page_featured-list li > h2,
.page_featured-list h3 {
  font-size: 1.5rem;
  margin-top: 0;
}
/* Style the featured and other-titles titles.*/
.page_featured-list h2.wp-block-post-title,
.page_featured-list h3.wp-block-post-title,
.products-page__other-list h2.wp-block-post-title {
  margin-bottom: 0;
}

/* Adjust the padding of the featured-products list. */
#page .page_featured-list .wp-block-columns li {
  padding: 0;
  padding-bottom: 2rem;
  align-items: center;
}
#page .page_featured-list .wp-block-columns li:last-child {
  padding-bottom: 0;
}
.page_featured-list .wp-block-columns > .wp-block-column:nth-of-type(1) figure {
  padding: 2rem;
}
/* Stretch the first column to fill the full container. */
.page_featured-list .wp-block-columns > .wp-block-column:nth-of-type(1) figure.wp-block-post-featured-image,
body.single-video .wp-block-columns .wp-block-column:first-child figure.wp-block-post-featured-image {
  height: 100%;
}
.page_featured-list .wp-block-columns > .wp-block-column:nth-of-type(1) figure.wp-block-post-featured-image {
  min-height: 50vh;
}
/* Stretch to full height. */
.page_featured-list .wp-block-column ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Make the image fill the figure. */
.page_featured-list .wp-block-column:nth-of-type(1) figure.wp-block-post-featured-image img,
body.single-video .wp-block-columns .wp-block-column:first-child figure.wp-block-post-featured-image img {
  max-width: none;
  width: 100%;
  padding: 0;
  object-fit: cover;
}

/* Ensure the right column fills the height. */
.page_featured-list .wp-block-columns > .wp-block-column:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Stretch the query inside the second (right) column. */
.page_featured-list .wp-block-column:nth-of-type(2) .wp-block-query {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Make the right column's UL grow to full height. */
.page_featured-list .wp-block-column:nth-of-type(2) ul.wp-block-post-template {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Prevent LIs from collapsing. */
.page_featured-list .wp-block-column ul.wp-block-post-template > li {
  flex-shrink: 0;
}

/* === Style the Books page's other-books section. === */
#page .products-page__other-list > h3 {
  font-size: 2rem;
}
#page .products-page__other-list {
  align-items: center;
}
/* Arrange the other list's items in a flex column. */
.products-page__other-list ul li > div {
  display: flex;
  flex-direction: column;
}
/* Set the images's height to auto to center them in their containers in the product's main page's featured and other-titles lists. */
.page_featured-list ul li figure.wp-block-post-featured-image a,
.products-page__other-list ul li figure.wp-block-post-featured-image a,
figure.wp-block-post-featured-image a {
  height: auto;
}
/* Style the list of products on the product's main page. */
.products-page__other-list p {
  margin-bottom: 2rem;
}
#page .products-page__other-list ul li {
  margin: 0;
  padding: 1rem 0;
  padding-bottom: 2rem;
}
.products-page__other-list ul li .wp-block-group {
  padding: 0;
}
/* Center the other list's details. */
.products-page__other-list ul li .wp-block-group .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Stack the other list's buy buttons. */
#page .products-page__other-list ul li .wp-block-buttons {
  flex-direction: column;
}

/* Set the other list's buy buttons' width. */
#page .products-page__other-list ul li .wp-block-buttons .wp-block-button {
  width: 15rem;
}

.header-bg {
  max-height: 500px;
}

/* === Media Queries === */
@media all and (width >= 640px) {
  /* Make the banner text visible. */
  .products-page__header-text-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 1rem;
  }
  .page_featured-list li > h2,
  .page_featured-list li > h3 {
    font-size: 2rem;
    margin-top: 0;
  }
}

@media all and (width >= 768px) {
  /* Restrict the width of the main container. */
  .page.page-template-books #primary.content-area,
  .page.page-template-videos #primary.content-area,
  .page.page-template-podcasts #primary.content-area,
  .page.page-template-blogs #primary.content-area {
    width: 85% !important;
    margin: auto;
  }

  /* Increase the font size of the banner text. */
  .products-page__header-text-container h1 {
    font-size: 2.5rem;
  }
  .products-page__header-text-container h4 {
    font-size: 1.2rem;
  }

  /* Align section headers to the left. */
  #page .page_featured-list {
    align-items: flex-start;
  }
  #page .products-page__other-list {
    align-items: flex-start;
  }
}

@media all and (width >= 1024px ) {
  /* Reset the width of the main container. */
  .page.page-template-books #primary.content-area,
  .page.page-template-videos #primary.content-area,
  .page.page-template-podcasts #primary.content-area,
  .page.page-template-blogs #primary.content-area {
    width: 90% !important;
  }
  
  .products-page__other-list ul li .wp-block-group .wp-block-group__inner-container {
    align-items: flex-start;
  }

  /* Set the background color of menu dropdowns. */
  body.page-template-books #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
  body.page-template-videos #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
  body.page-template-podcasts #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul,
  body.page-template-blogs #page #header-image-wrapper header#masthead .responsive-site-primary-header-wrap .site-header-primary-section-right .main-navigation-wrapper ul ul {
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: black;
  }

  /* Increase the font size of the banner text on desktop. */
  .products-page__header-text-container h1 {
    font-size: 5rem;
  }
  .products-page__header-text-container h4 {
    font-size: 2rem;
  }  
  
  /* Style the featured products' heading. */
  #page .page_featured-list > h2 {
    font-size: 3rem;
  }

  /* Adjust the featured products' subheadings in the right column. */
  .page_featured-list .wp-block-column:nth-of-type(2) li > h2 {
    font-size: 1.5rem;
  }

  .page_featured-list .wp-block-column:nth-of-type(2) li {
    margin: 0;
  }
  .page_featured-list .wp-block-column:nth-of-type(2) li.wp-block-column:nth-of-type(1) {
    margin-bottom: 1rem;
  }

  .page_featured-list .wp-block-column:nth-of-type(2) li figure {
    /* height: auto; */
    margin-bottom: 1rem;
  }

  /* Remove the description from the featured product's second column on the books page. */
  .page-template-books .page_featured-list .wp-block-column:nth-of-type(2) li .wp-block-post-excerpt {
    display: none;
  }

  /* Center the featured products' details. */
  #page .page_featured-list .wp-block-columns li {
    align-items: flex-start;
  }

  #page .page_featured-list h3 {
    font-size: 1.5rem;
  }

  /* Put a border around the other-titles list. */
  #page .products-page__other-list > div {
    border: 1px solid lightgray;
    border-radius: 10px;
    align-self: stretch;
    padding: 0 2rem !important;
  }

  /* Put padding around the other-titles list inner div. */
  #page .products-page__other-list > div > .wp-block-query-no-results {
    padding: 2rem;
  }

  /* Format the others list in a row for desktop. */
  .products-page__other-list ul li > div {
    flex-direction: row;
  }
  /* Alternate the order of a product's details on the product's main page. */
  .products-page__other-list > .wp-block-query > .wp-block-post-template li:nth-child(even) .wp-block-group.is-layout-flex {
    flex-direction: row-reverse;
  }

  /* Orient the other list's buy buttons in a row. */
  #page .products-page__other-list ul li .wp-block-buttons {
    flex-direction: row;
  }

  /* Add padding to the other list's details. */
  .products-page__other-list ul li .wp-block-group > .wp-block-group {
    padding: 2rem;
  }
}

@media all and (width >= 1280px) {
  /* Set the direction of the featured list to row. */
  #page .page_featured-list .wp-block-columns {
    flex-direction: row;
  }

  /* Restrict the height of the featured image's container. */
  .wp-block-post-template .wp-block-post-featured-image {  
    height: 200px;
  }
  
  /* Add the description from the featured product's second column on the books page. */
  .page-template-books .page_featured-list .wp-block-column:nth-of-type(2) li .wp-block-post-excerpt {
    display: flex;
  }
}