/* Add margin to the sides in mobile. */
.site.hfeed {
  max-width: 90%;
  margin: auto;
}

/* Reverse the order of the About page in mobile. */
.about-container .elementor-container {
  flex-direction: column-reverse;
}

/* === Media queries === */
@media all and (width >= 1024px) {
  body .site.hfeed main#primary {
    padding: 0;
  }

  /* Remove padding from the content area of product custom post-types. */
  body.single-book.single #primary.content-area,
  body.single-book.single #primary.content-area article,
  body.single-video.single #primary.content-area,
  body.single-video.single #primary.content-area article {
    padding: 0;
  }

  /* Set the order of the About page back to normal for desktop. */
  .about-container .elementor-container {
    flex-direction: row;
  }

  .page_featured-list .wp-block-columns > .wp-block-column:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }
}

@media all and (width >= 768px) {
  .site.hfeed {
    max-width: 100%;
  }  
}